body {
	background-color: #F6F6F6;
	font-family: Arial;
	font-size: 12px;
}

td {
	font-family: arial;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

th {
	font-family: arial;
	color: #FFFFFF;
	background-color: #000099;
	font-size: 12px;
	font-weight: bold;
}

.style1 {
       font-family: arial;
       text-decoration: none;
       font-size: 11px;
	   font-weight: bold;
       color: #000000;
}

.style2 {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
}
.style3 {
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
}

.style4 {
	font-family: arial;
	color: #FFFFFF;
	background-color: #000099;
	font-size: 14px;
	font-weight: bold;
}

.style5 {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}

.style6 {
       font-family: arial;
       text-decoration: none;
       font-size: 12px;
	   font-weight: bold;
       color: #000000;
}
.style7 {
       font-family: arial;
       text-decoration: none;
       font-size: 12px;
	   font-weight: bold;
       color: #000099;
}

legend {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	}
fieldset {
	font-family: Arial;
	border: solid #808080 1px;
}

input {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
}

select {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
}

.link {
       font-family: arial;
       text-decoration: none;
       font-size: 11px;
	   font-weight: bold;
       color: #000099;
}

.link:hover {
	   font-family: arial;
       text-decoration: none;
       font-size: 11px;
	   font-weight: bold;
       color: #0000FF;
}
