branches/LFSistemas.VLI.ACTWeb.Controllers/bin/Release/LFSistemas.VLI.ACTWeb.Controllers.dll
branches/LFSistemas.VLI.ACTWeb.Controllers/bin/Release/LFSistemas.VLI.ACTWeb.Controllers.pdb
branches/LFSistemas.VLI.ACTWeb.Controllers/bin/Release/LFSistemas.VLI.ACTWeb.DataAccessObjects.dll
branches/LFSistemas.VLI.ACTWeb.Controllers/bin/Release/LFSistemas.VLI.ACTWeb.DataAccessObjects.pdb
branches/LFSistemas.VLI.ACTWeb.Controllers/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
branches/LFSistemas.VLI.ACTWeb.Controllers/obj/Release/LFSistemas.VLI.ACTWeb.Controllers.csproj.FileListAbsolute.txt
branches/LFSistemas.VLI.ACTWeb.Controllers/obj/Release/LFSistemas.VLI.ACTWeb.Controllers.csprojResolveAssemblyReference.cache
branches/LFSistemas.VLI.ACTWeb.Controllers/obj/Release/LFSistemas.VLI.ACTWeb.Controllers.dll
branches/LFSistemas.VLI.ACTWeb.Controllers/obj/Release/LFSistemas.VLI.ACTWeb.Controllers.pdb
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/bin/Debug/LFSistemas.VLI.ACTWeb.DataAccessObjects.dll
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/bin/Debug/LFSistemas.VLI.ACTWeb.DataAccessObjects.pdb
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/bin/Debug/LFSistemas.VLI.ACTWeb.Entities.dll
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/bin/Debug/LFSistemas.VLI.ACTWeb.Entities.pdb
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/obj/Debug/LFSistemas.VLI.ACTWeb.DataAccessObjects.csproj.FileListAbsolute.txt
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/obj/Debug/LFSistemas.VLI.ACTWeb.DataAccessObjects.csprojResolveAssemblyReference.cache
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/obj/Debug/LFSistemas.VLI.ACTWeb.DataAccessObjects.dll
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/obj/Debug/LFSistemas.VLI.ACTWeb.DataAccessObjects.pdb
branches/LFSistemas.VLI.ACTWeb.Entities/bin/Debug/LFSistemas.VLI.ACTWeb.Entities.dll
branches/LFSistemas.VLI.ACTWeb.Entities/bin/Debug/LFSistemas.VLI.ACTWeb.Entities.pdb
branches/LFSistemas.VLI.ACTWeb.Entities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
branches/LFSistemas.VLI.ACTWeb.Entities/obj/Debug/LFSistemas.VLI.ACTWeb.Entities.csproj.FileListAbsolute.txt
branches/LFSistemas.VLI.ACTWeb.Entities/obj/Debug/LFSistemas.VLI.ACTWeb.Entities.csprojResolveAssemblyReference.cache
branches/LFSistemas.VLI.ACTWeb.Entities/obj/Debug/LFSistemas.VLI.ACTWeb.Entities.dll
branches/LFSistemas.VLI.ACTWeb.Entities/obj/Debug/LFSistemas.VLI.ACTWeb.Entities.pdb
branches/LFSistemas.VLI.ACTWeb.Web/bin/LFSistemas.VLI.ACTWeb.Controllers.dll
branches/LFSistemas.VLI.ACTWeb.Web/bin/LFSistemas.VLI.ACTWeb.Controllers.pdb
branches/LFSistemas.VLI.ACTWeb.Web/bin/LFSistemas.VLI.ACTWeb.DataAccessObjects.dll
branches/LFSistemas.VLI.ACTWeb.Web/bin/LFSistemas.VLI.ACTWeb.DataAccessObjects.pdb
branches/LFSistemas.VLI.ACTWeb.Web/bin/LFSistemas.VLI.ACTWeb.Entities.dll
branches/LFSistemas.VLI.ACTWeb.Web/bin/LFSistemas.VLI.ACTWeb.Entities.pdb
branches/LFSistemas.VLI.ACTWeb.Web/bin/LFSistemas.VLI.ACTWeb.Web.dll
branches/LFSistemas.VLI.ACTWeb.Web/bin/LFSistemas.VLI.ACTWeb.Web.pdb
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/Interop.ORADCLib.dll
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/Interop.ORAOLEDBLib.dll
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/LFSistemas.VLI.ACTWeb.Web.csproj.FileListAbsolute.txt
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/LFSistemas.VLI.ACTWeb.Web.csproj.ResolveComReference.cache
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/LFSistemas.VLI.ACTWeb.Web.csprojResolveAssemblyReference.cache
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/LFSistemas.VLI.ACTWeb.Web.dll
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/LFSistemas.VLI.ACTWeb.Web.pdb
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
branches/LFSistemas.VLI.ACTWeb.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
branches/LFSistemas.VLI.ACTWeb.Controllers/bin/
branches/LFSistemas.VLI.ACTWeb.Controllers/obj/
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/bin/
branches/LFSistemas.VLI.ACTWeb.DataAccessObjects/obj/
branches/LFSistemas.VLI.ACTWeb.Entities/bin/
branches/LFSistemas.VLI.ACTWeb.Entities/obj/
branches/LFSistemas.VLI.ACTWeb.Web/bin/
D:\Projetos\GIT\ACTWEB_DEV.git\branches\LFSistemas.VLI.ACTWeb.Web\obj\
D:\Projetos\GIT\ACTWEB_DEV.git\trunk\
trunk/bin/DLLMQWeb.dll
trunkLogSistema.log
trunk/Web.config
Icon
obj
bin
trunk
