<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionStringACTWEB" connectionString="Provider=MSDAORA;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=act)));Persist Security Info=True;User ID=actweb; Password=lfsistemas" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="SecurityKey" />
	<add key="caminhoArquivoLog" value="C:\inetpub\wwwroot\novo\" />
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="43200" maxRequestLength="104856" />
    <sessionState mode="InProc" cookieless="false" timeout="720" />
    <compilation targetFramework="4.5" debug="true" />
    <customErrors mode="Off" />    
	
    <authentication mode="Forms">
      <forms defaultUrl="/" loginUrl="Login.aspx" timeout="40"></forms>
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  
  <location path="Consulta/popupTermometros.aspx" >
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Consulta/popupTHP.aspx" >
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
    
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <handlers>
            <add name="JSON" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness64" />
        </handlers>
        <modules>
            <remove name="Session" />
            <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="managedHandler" />
        </modules>
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=EmulateIE10" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network host="" port="587" />
            </smtp>
        </mailSettings>
    </system.net>

</configuration>
