<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--HPLF-->
    <add name="ConnectionStringACTWEB" connectionString="Provider=MSDAORA;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ACT)));Persist Security Info=True;User ID=actweb; Password=lfsistemas" providerName="System.Data.OleDb" />
    <!--PRD-->
    <!--<add name="ConnectionStringACTWEB" connectionString="Provider=MSDAORA;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.21.26.20)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=act)));Persist Security Info=True;User ID=actweb; Password=engesis" providerName="System.Data.OleDb" />-->
    <!--HMG-->
    <!--<add name="ConnectionStringPGOF" connectionString="Provider=MSDAORA;Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.1.114.68)(PORT = 1521)) (ADDRESS = (PROTOCOL = TCP)(HOST = 10.1.114.72)(PORT = 1521)) (LOAD_BALANCE = yes)(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = pvlie)));Persist Security Info=True;User ID=pjpgof; Password=VB1F3GHT; Connection Timeout=60;" providerName="System.Data.OleDb" />-->
    
     <!--<add name="ConnectionStringACTWEB" connectionString="Provider=MSDAORA;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=act)));Persist Security Info=True;User ID=actweb; Password=engesis" providerName="System.Data.OleDb" />-->
     <!--<add name="ConnectionStringACTPP" connectionString="Provider=MSDAORA;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=act)));Persist Security Info=True;User ID=actpp; Password=engesis" providerName="System.Data.OleDb" />-->
     
  </connectionStrings>
  <appSettings>
    <add key="SecurityKey" />
    <add key="caminhoArquivoLog" value="D:\Professional\Projetos\Github\SiteACTWEB" />
    <add key="caminhoArquivoPainelBaixada" value="D:\Professional\Projetos\Github\SiteACTWEB\img" />
    <add key="googlemaps.subgurim.net" value="" />
    <add key="googlemaps.subgurim.net_Commercial" value="" />
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="43200" maxRequestLength="104856" />
    <sessionState mode="InProc" cookieless="false" timeout="40" />
    <compilation targetFramework="4.5" debug="false" />
    <customErrors mode="Off" />
    <!--<customErrors mode="On" defaultRedirect="Ajuda/Erro.aspx?msg=000">
      <error statusCode="400" redirect="Ajuda/Erro.aspx?msg=400"/>
      <error statusCode="401" redirect="Ajuda/Erro.aspx?msg=401"/>
      <error statusCode="403" redirect="Ajuda/Erro.aspx?msg=403"/>
      <error statusCode="404" redirect="Ajuda/Erro.aspx?msg=404"/>
      <error statusCode="500" redirect="Ajuda/Erro.aspx?msg=500"/>
      <error statusCode="501" redirect="Ajuda/Erro.aspx?msg=501"/>
      <error statusCode="502" redirect="Ajuda/Erro.aspx?msg=502"/>
      <error statusCode="503" redirect="Ajuda/Erro.aspx?msg=503"/>
    </customErrors>-->
    <authentication mode="Forms">
      <forms defaultUrl="/" loginUrl="Login.aspx" timeout="30" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

  <pages>
      <controls>
        <add tagPrefix="gmaps" namespace="Subgurim.Controles" assembly="GMaps" />
      </controls>
    </pages></system.web>

  <location path="Consulta/popupTermometros.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="THP/popupTHP.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524228800"/>
      </requestFiltering>
    </security>

    <handlers>
      <add name="JSON" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness64" />
    </handlers>
    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="managedHandler" />
    </modules>
    <staticContent>

      <remove fileExtension=".json" />

      <mimeMap fileExtension=".json" mimeType="application/json" />

      <remove fileExtension=".unityweb" />

      <mimeMap fileExtension=".unityweb" mimeType="application/binary"/>
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>