/*C840 - reCAPTCHA - Luara - 21/02/2021*/
* {
  box-sizing: border-box;
}

.container-recaptcha {
    align-content: center;
	max-width: 217.2px;
}

.g-recaptcha {
    align-content: center ;
  transform-origin: left;
  -webkit-transform-origin: center;
  //visibility:collapse;
}

.grecaptcha-badge { 
    //display:none;
    visibility: hidden;
}

#lblResult {
    display: block;
    text-align: center;
    padding: 5px;
    background-color: yellow;
    margin: 5px 0;
    font-weight: bold !important;
    color: black;
}